/* CSS declarations go here */
.place{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#btn {
    margin-bottom: 20px;
}

.transitos {
    margin-bottom: 20px;
}

.login{
    font-family: Verdana;
    color: #fff;
    font-size: 20px;
    background-size: 50px;
    width: 30%;
    background-color: rgb(172, 169, 169);
}

.settings {
   
}

.bt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(106, 106, 138);
    color: white;
}

.adj{
    margin-top: 50px;
}

.part {
    background-color: rgb(106, 106, 138);
}

.bb {
    color: black;
    font-size: 40px;
}

.posit {
    margin-left: 200px;
    margin-top: 30px;
}